<h1>Welcome#index</h1>

Stock <div id="stockname">WGO</div>

<form class="newstock" method="post">
  <input type = "text" id = "myText" value = "text here" />
  <input type='submit' value='update sheet' />
</form>
<script>
  stockname.innerHTML = "wgo";
</script>

<% thestock = "wgo" %>
<% stocks =  StockQuote::Stock.quote(thestock) %>

<br> Symbol <%= stocks.symbol %> </br>
<br>Exchange <%= stocks.exchange %></br>
<br>Id <%= stocks.id %></br>
<br> T <%= stocks.t %></br>
<br> E <%= stocks.e %></br>
<br> Name <%= stocks.name %></br>
<br> Reuters_url <%= stocks.f_reuters_url %></br>
<br> Recent_quarter_date <%= stocks.f_recent_quarter_date %></br>
<br> Annlyal_date <%= stocks.f_annlyal_date %></br>
<br> f_ttm_date <%= stocks.f_ttm_date %></br>
<br> financials <%= stocks.financials %></br>
<br> kr_recent_quarter_date <%= stocks.kr_recent_quarter_date %></br>
<br> kr_annual_date <%= stocks.kr_annual_date %></br>
<br> kr_ttm_date <%= stocks.kr_ttm_date %></br>
<br> c <%= stocks.c %></br>
<br> l <%= stocks.l %></br>
<br> cp <%= stocks.cp %></br>
<br> ccol <%= stocks.ccol %></br>
<br> op <%= stocks.op %></br>
<br> hi <%= stocks.hi %></br>
<br> lo <%= stocks.lo %></br>
<br> vo <%= stocks.vo %></br>
<br> avvo <%= stocks.avvo %></br>
<br> hi52 <%= stocks.hi52 %></br>
<br> lo52 <%= stocks.lo52 %></br>
<br> mc <%= stocks.mc %></br>
<br> pe <%= stocks.pe %></br>
<br> fwpe <%= stocks.fwpe %></br>
<br> beta <%= stocks.beta %></br>
<br> eps <%= stocks.eps %></br>
<br> dy <%= stocks.dy %></br>
<br> ldiv <%= stocks.ldiv %></br>
<br> shares <%= stocks.shares %></br>
<br> instown <%= stocks.instown %></br>
<br> eo <%= stocks.eo %></br>
<br> sid <%= stocks.sid %></br>
<br> sname <%= stocks.sname %></br>
<br> iid <%= stocks.iid %></br>
<br> iname <%= stocks.iname %></br>
<br> related <%= stocks.related %></br>
<br>summary0 <%= stocks.summary %></br>
<br>summary1 <%= stocks.summary[0]["reuters_url"]%></br>
<br>management <%= stocks.management %></br>
<br>moreresources <%= stocks.moreresources %></br>
<br> events <%= stocks.events %></br>
